<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Waiters' Tablet</name>

    <description>
        A unique applications for restaurants and every FAB
    </description>

    <author href="https://somewhere.com" email="somebody@somewhere.com">
        Hardeep Shoker 
    </author>
      <!-- all platforms -->
      <preference name="phonegap-version" value="cli-6.0.0" />
      <preference name="orientation" value="landscape" />
      <preference name="fullscreen" value="ei.true" />

      <!-- iOS only -->
      <preference name="target-device" value="universal" />
      <preference name="prerendered-icon" value="true" />
      <preference name="detect-data-types" value="true" />
      <preference name="exit-on-suspend" value="true" />
      <preference name="deployment-target" value="7.0" />

      <!-- Android only -->
      <preference name="android-build-tool" value="ant|gradle" />
      <preference name="android-minSdkVersion" value="10" />
      <preference name="android-maxSdkVersion" value="15" />
      <preference name="android-targetSdkVersion" value="12" />
      <preference name="android-installLocation" value="auto" />
      <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />    
    <platform name="android">
        <icon density="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
        <icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
        <icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
        <icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
        <icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
        <icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
        <icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
        <icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
        <icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
        <icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
        <icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
        <icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
        <icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
        <icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
        <icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
        <icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
    </platform>
</widget>